<div class="row">
    
    <h1 class="heading-1">Hi!</h1>
    <p>My name is Claire Sosset, I'm a front-end developer based in Paris.</p>
    
    <p>After studies in the field of new technologies, and a year of training in alternation within a communication agency, I am currently working at <a rel="external" href="http://octaveoctave.com">Octave &amp; Octave</a> as lead front-end developer.</p>

    <p>I use mainly HTML5, CSS3 and JavaScript. Curious nature, I like trying new tools in my spare time as Backbone, Require, Ruby on Rails and Nodejs.</p>
    
    <h1 class="heading-2">Some works</h1>

    <ul class="list">
        <li>
            <a rel="external" href="http://skyrock.fm/">Skyrock.fm</a>
            <small>Design by Téléfun. Development by Octave &amp; Octave</small>
            <span class="list__tags">#pushstate #localstorage #webworkers #amd #bem</span>
        </li>
        <li>
            <a rel="external" href="http://progressarc.clairesosset.fr/">ProgressArc</a>
            <small>Sideproject</small>
            <span class="list__tags">#canvas</span>
        </li>
        <li>
            <a rel="external" href="http://lab.clairesosset.fr/js/cube/">Cube</a>
            <small>Demo</small>
            <span class="list__tags">#css3d</span>
        </li>
        <li>
            <a rel="external" href="http://annuaire.apci.asso.fr/">A.P.C.I</a>
            <small>Design &amp; Development by Octave &amp; Octave</small>
        </li>
        <li>
            <a rel="external" href="https://play.google.com/store/apps/details?id=com.octaveoctave.gdfc&hl=fr">Cuisinez au naturel - GDF</a>
            <small>Design &amp; Development by Octave &amp; Octave</small>
            <span class="list__tags">#mobile</span>
        </li>
        <li>
            <a rel="external" href="http://www.octaveoctave.com/project/altarea-cogedim-rapport-annuel-tablette/application-mobile">Altarea Cogedim</a>
            <small>Design &amp; Development by Octave &amp; Octave</small>
            <span class="list__tags">#mobile</span>
        </li>
        <li>
            <a rel="external" href="http://eightviewer.com/">Eight Viewer</a>
            <small>Design by <a rel="external" href="https://twitter.com/cmjnrvb">@cmjnrvb</a> and <a rel="external" href="https://twitter.com/PertinentMarker">@mx</a></small>
            <span class="list__tags">#backbone #require #compass #responsive</span>
        </li>
    </ul>
</div>


