section {
  padding:50px 20px 20px;
    p {
      @include margin-trailer(.5);
    }
}

/*Partials*/
@import "partials/font", 
        "partials/grid",
        "partials/admin-lists",
        "partials/admin-forms";


/*back*/
.lnk-back {
    @include margin-leader(.8);
    
    &:before {
        content:"←"; margin:1px 5px 0 0;
    }
}
/*back*/
.btn { margin-left:10px; background:$darkgray; color:$white !important; padding:10px; 
       border-radius:5px;
       &:hover, &:focus { background:$blue; color:$white;}
}

.toolbar { text-align:right; @include margin-leader(1);
    a { @include adjust-font-size-to(14px); color:$darkgray;
        &:hover,&:focus { color:$blue;}
    }
}
.toolbar-top {@include margin-trailer(1);}
.notice { padding:5px 10px; border-radius:3px;border:3px solid $yellow; background:adjust-lightness($yellow, 15);}