header {
    @include padding-leader(1.5);
    @include padding-trailer(2);
    position:relative;
    background:rgba($blue,.15);
    border-bottom:1px solid #cfcfcf;
    box-shadow:inset 0 -1px 5px rgba($gray,.5);
}

#logo {
    @include bubble(100px, true);
    display:block;
    float:left;
    background:$darkgray;
    color:$white;

    &:hover, &:focus { 
        background:$blue;
    }

    &:visited { 
        color:$white;
    }
}