section[role="main"] {
  @include padding-leader(3);
  @include padding-trailer(1.5);
  
  & > footer { 
    @include margin-leader(1);
    text-align:right; 
    }

}
p {
    @include margin-trailer(.5);
}

/*Partials*/
@import "partials/font", 
        "partials/grid",
        "partials/sprite";

#tpl-notification {
    > div { 
        max-width:100%; 
        padding:20px;
    }
    section[role="main"] {margin:0;}
}
