<% content_for :aboutactive do %>
active
<% end %>

<h1>Hello!</h1>
<p>Welcome on my website <small>(still under construction)</small>. <br />I'm Claire Sosset, a front-end developer based in Paris. 
I'm currently working at
<%= link_to("Octave & Octave", "http://www.octaveoctave.com", {:rel => 'external'}); %>, where I work on websites and mobile applications.</p>

<p>I use mainly HTML5, CSS3 and Javascript. I also use Javascript API's like Google Map and Flickr.<br />
My curiosity leads me tried new tools such as Compass, Backbone, Require, Raphael, and sometimes even a few backend frameworks such as Silex and Ruby on Rails.</p>

