<% content_for :projectsactive do %>
active
<% end %>
<ul class="list list-projects">
<% @projects.each do |project| %>
  <li>
    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
    <% if project.url.size > 1 %>
    <%= link_to "See the project", "#{project.url}", {:class => "btn", :rel => "external"} %> 
      
    <% end %>
    <% if project.urlgithub.size > 1 %>
    <%= link_to "See sources on Github", "#{project.urlgithub}", {:class => "btn", :rel => "external"} %> 
    <% end %>
  </li>
<% end %>
</ul>
