.admin-list-projects {
    li { background:$white; border-bottom:1px solid $border-color;
         padding:30px;
        &:first-child {
            border-top:1px solid $border-color;
        }
    }

    .actions {
        padding-top:5px;text-align:right; @include adjust-font-size-to(12px);
        a { margin-left:3px;}
    }

    a:hover, a:focus { color:$darkgray;}

}

.admin-list-notifications {
    @extend .admin-list-projects;
}