@font-face {
        font-family: 'Elusive-Icons';
        src:url('fonts/Elusive-Icons.eot');
        src:url('fonts/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
            url('fonts/Elusive-Icons.svg#Elusive-Icons') format('svg'),
            url('fonts/Elusive-Icons.woff') format('woff'),
            url('fonts/Elusive-Icons.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

/*vertical rythm*/
$base-font-size :18px;
$base-line-height: 30px;
$relative-font-sizing: true;
@include establish-baseline;

.opensans { 
    font-family:'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

h1 { 
    @include adjust-font-size-to(70px, 1.75); 
    @include margin-trailer(.3); 
    @extend .opensans; 
    font-weight:700;
}
h2 { 
    @include adjust-font-size-to(40px, 1); 
    @include margin-trailer(.2); 
    @extend .opensans; 
    font-weight:700;}
#logo { 
    @include adjust-font-size-to(60px); 
    @extend .opensans; 
    font-weight:700;
}
small { 
    @include adjust-font-size-to(11px); 
    font-style:italic;
}
li p { 
    @include adjust-font-size-to(16px, .8); 
    @include margin-trailer(.6); 
    color:adjust-lightness($darkgray,45);
}
small { 
    font-style:normal;
}