
$column-color: rgba(100, 100, 225, 0.25);
$gutter-color :rgba(0, 0, 0, 0);
$total :12;
$column :60px;
$gutter :20px;
$offset :0px;

#debug {
  pointer-events:none;
  position:absolute; top:0; bottom:0; left:50%; width:960px; max-width:960px; margin-left:-480px;

  @include column-grid-background($total, $column, $gutter, $offset, $column-color, $gutter-color);
  background-position:10px top;
}
