.list-projects {
    margin-top:-30px;
    li { 
        padding:30px 30px 30px 0;
        background:rgba($gray, 0);
        
        & + li {
            border-top:1px solid $border-color;
        }

        &:hover {
            background:rgba($gray, .1);
            h1 { 
                color:$blue;
            }
        }
    }

    h1 { 
        @include margin-trailer(.2); 
        @include adjust-font-size-to(50px,1.7);
    }

    small { 
        margin:0 0 5px;
        display:block; 
        color:$blue;
    }
}