nav {
    padding:35px 0 0 ;
    text-align:right;

    a { 
        @include adjust-font-size-to(18px,.9);
        @include transition(border ease 100ms);
        color:$darkgray;  
        display:inline-block;
        padding-bottom:5px; 
        border-bottom:1px solid $darkgray;
    }

    li { 
        display:inline-block; 
        margin-left:15px;
    }

    a:hover, a:focus, .active a { 
        color:$blue; 
        border-bottom:3px solid $blue;
    }
}