@media screen and (max-width: 36em) {
    #logo {
        margin:0 auto;
    }
    .infos {
        position:static; text-align:center;
        @include margin-leader(1);
        li {
            margin:0;
            display:block;
        }
    }
    header, section[role="main"]{
        margin:0;
    }
     
    nav { text-align:center; padding-left:0;}
}