@media screen and (max-width: 36em) {
    #logo {
        margin:0 auto;
    }
    .infos {
        position:static; text-align:center;
        @include margin-leader(1);
        li {
            margin:0;
            display:block;
        }
    }
    header {
        margin:0;
    }
    section[role="main"] {
        margin:0;
    }
}