@import "icon/*.png";
@include all-icon-sprites;

.icon { 
  text-indent:-9999em; 
  font-size:1px; 
  display:inline-block; 
}

.icon-twitter { 
  width:image-width("icon/twitter.png"); height:image-height("icon/twitter.png");
  position:relative; top:-4px;
  a:hover &, a:focus & {
    @include icon-sprite(twitter-blue);
  }
}