// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    padding:5rem 0;
}

.btn {
    padding:5px 10px 7px;

    &:hover {
        border:none;
    }
}

form {
    max-width: 30rem
}

label {
    display: block;
    margin:0 0 1rem;
}



input[type="text"],
input[type="url"],
textarea {
    width: 100%;
    border:1px solid #cacaca;
    padding: 1rem;
    font-size: 1.4rem;
    outline:none;
}
.form__item {
    margin:0 0 2rem
}
