@import 'variables';

/* ==========================================================================
   Helper classes // HTML5 Boilerplate
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.alt-text {
    display: none;
}

/* ==========================================================================
   GRID/ROW
   ========================================================================== */
.row {
    padding-left:20px;
    padding-right: 20px;
    max-width:480px;
    margin-left: auto;
    margin-right: auto;
}


/* ==========================================================================
   BUTTON
   ========================================================================== */
.btn {
    background: $color-primary;
    color: $color-white;
    padding: 5px 10px;
    border-radius:2px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;

    &.fa {
        padding: 7px;
        font-size: 20px;
        font-size: 2rem;
    }

    &:hover,
    &:focus {
        //color:$color-border;
        background: lighten($color-primary, 3);
    }
}
/* ==========================================================================
   LAYOUT
   ========================================================================== */
html {
    background: $color-bg;
    font-size: 62.5%;
    line-height: 1.6;
    color:$color-font;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 18px;
    font-size:1.8rem;
    font-family: 'Roboto Slab', serif;
}

::selection {
    background: rgba($color-gray,.3);
    }
::-moz-selection {
    background: rgba($color-gray,.3);
}

section {
    padding: 12rem 0 4rem;
}

.picture {
    display: block;
}

.contact {
    list-style: none;
    margin: 2.4rem 0;
    padding: 0;

    li {
        display: inline-block;

        + li {
            margin-left: .8rem;
        }
    }

    a:hover,
    a:focus {
        border: none;
        color:$color-white;
    }
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
.heading-1 {
    margin:0 0 1.2rem;
    font-size: 2.8rem;
    font-weight: bold;
}

.heading-2 {
    margin:1.7rem 0 0;
    font-size: 2.2rem;
    font-weight: bold;
}

a {
    color:$color-secondary;
    text-decoration: none;

    section & {
        &:hover,
        &:focus {
            // border-bottom: 1px solid $color-secondary;
            color: darken($color-secondary, 10);
        }
    }
}

p {
    margin:.5rem 0;
}

/* ==========================================================================
   LIST
   ========================================================================== */

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (min-width: 570px) { //570px

}


@media (min-width: 75em) { //1200px

}
