<!DOCTYPE html>
<html lang="en">
<head>
  <title>Claire Sosset - Front-end developer</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="keywords" content="Front-end developer, html5, css3, javascript" />
  <meta name="description" content="Website of Claire Sosset, front-end developer based in Paris" />
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="noindex, nofollow">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header role="banner" id="header">
        <div class="row">
            <a class="header__logo" href="/">
                CS
            </a>
        </div>
    </header>

    <section role="main">
        <%= yield %>    
    </section>

    <footer>
        <div class="row">
            <ul class="list--social">
                <li>
                    <a rel="external" class="btn fa fa-twitter" href="https://twitter.com/claire_so">
                        <span class="alt-text">Twitter</span>
                    </a>
                </li><!--
                --><li>
                    <a rel="external" class="btn fa fa-github" href="https://github.com/claireso">
                        <span class="alt-text">Github</span>
                    </a>
                </li><!--
                --><li>
                    <a rel="external" class="btn fa fa-linkedin" href="http://www.linkedin.com/pub/claire-sosset/21/913/801">
                        <span class="alt-text">Linkedin</span>
                    </a>
                </li><!--
                --><li>
                    <a id="js-mail" rel="external" class="btn" href="#">
                        Hire me
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
