<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Claire Sosset - Front-end developer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta name="keywords" content="Front-end developer, html5, css3, javascript" />
    <meta name="description" content="Website of Claire Sosset, front-end developer based in Paris" />
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "modernizr" %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29509485-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div>
        <header>
            <a id="logo" href="/">CS</a>
            <div class="infos">
                <ul>
                    <li>
                        claire.sosset[at]gmail[dot]com
                    </li><!--
                    --><li>
                        <a href="http://twitter.com/claire_so" rel="external">
                            <i class="icon icon-twitter">Twitter</i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <section role="main">
            <%= yield %>
        </section>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery.js"><\/script>')</script>

    
</body>
</html>
